*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: auto;
}

main{
    height:100vh;
    width:100%;
    position: relative;
}

.div-card-section{
    position: absolute;
    top: 0;
    left:0;
    width:25%;
    height: 100%;
}

.div-card-section .card-section{
    position: absolute;
    width:100%;
    height:48%;
    background:#2A2B2DFF;
}

.div-card-section #card-1-section{
    top: 0;
}
.div-card-section #card-2-section{
    bottom: 0;
}

.div-card-section .card-section header{
    position: absolute;
    top:3%;
    width:100%;
    height: 20%;
    font-size:3.4vw;
    text-align:center;
    letter-spacing: 0.5em;
    overflow:hidden;
    font-weight: bold;
    color: #e5e5e6;
}

.div-card-section .card-section header spam{
    position: absolute;
    left:15%;
}

.div-card-section .card-section .card-body{
    position:absolute;
    width:80%;
    height:70%;
    top:20%;
    left:10%;
    border: 1px solid white;
}

.div-card-section .card-section .card-body .card-letter{
    width:20%;
    height:100%;
    float:left;
}

.div-card-section .card-section .card-body .card-letter .card-1-letter-B-rows,
.div-card-section .card-section .card-body .card-letter .card-2-letter-B-rows{
    width:100%;
    height:20%;
    border:1px solid white;
    text-align: center;
    color: #e5e5e6;
}

.div-card-section .card-section .card-body .card-letter .card-1-letter-I-rows,
.div-card-section .card-section .card-body .card-letter .card-2-letter-I-rows{
    width:100%;
    height:20%;
    border:1px solid white;
    text-align: center;
    color: #e5e5e6;
}

.div-card-section .card-section .card-body .card-letter .card-1-letter-N-rows,
.div-card-section .card-section .card-body .card-letter .card-2-letter-N-rows{
    width:100%;
    height:20%;
    border:1px solid white;
    text-align: center;
    color: #e5e5e6;
}

.div-card-section .card-section .card-body .card-letter .card-1-letter-G-rows,
.div-card-section .card-section .card-body .card-letter .card-2-letter-G-rows{
    width:100%;
    height:20%;
    border:1px solid white;
    text-align: center;
    color: #e5e5e6;
}

.div-card-section .card-section .card-body .card-letter .card-1-letter-O-rows,
.div-card-section .card-section .card-body .card-letter .card-2-letter-O-rows{
    width:100%;
    height:20%;
    border:1px solid white;
    text-align: center;
    color: #e5e5e6;
}



.board-section{
    position: absolute;
    top:0;
    right:0;
    width:70%;
    height:100%;    
    background:dimgray;
}
