*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: auto;
}

main{
    height:100vh;
    width:100%;
    position: relative;
}

.div-card-section{
    position: absolute;
    top: 0;
    left:0;
    width:25%;
    height: 100%;
}

.div-card-section .card-section{
    position: absolute;
    width:100%;
    height:48%;
    background:#2A2B2DFF;
}

.div-card-section #card-1-section{
    top: 0;
}
.div-card-section #card-2-section{
    bottom: 0;
}

.div-card-section .card-section header{
    position: absolute;
    top:3%;
    width:100%;
    height: 20%;
    font-size:3.4vw;
    text-align:center;
    letter-spacing: 0.5em;
    overflow:hidden;
    font-weight: bold;
    color: #e5e5e6;
}

.div-card-section .card-section header spam{
    position: absolute;
    left:15%;
}

.div-card-section .card-section .card-body{
    position:absolute;
    width:80%;
    height:70%;
    top:20%;
    left:10%;
    border: 1px solid white;
}

.div-card-section .card-section .card-body .card-letter{
    width:20%;
    height:100%;
    float:left;
}

.div-card-section .card-section .card-body .card-letter .card-1-letter-B-rows,
.div-card-section .card-section .card-body .card-letter .card-2-letter-B-rows{
    width:100%;
    height:20%;
    border:1px solid white;
    text-align: center;
    color: #e5e5e6;
    overflow: hidden;
    font-size: 1.7vw;
    line-height: 2em;
}

.div-card-section .card-section .card-body .card-letter .card-1-letter-I-rows,
.div-card-section .card-section .card-body .card-letter .card-2-letter-I-rows{
    width:100%;
    height:20%;
    border:1px solid white;
    text-align: center;
    color: #e5e5e6;
    overflow: hidden;
    font-size: 1.7vw;
    line-height: 2em;
}

.div-card-section .card-section .card-body .card-letter .card-1-letter-N-rows,
.div-card-section .card-section .card-body .card-letter .card-2-letter-N-rows{
    width:100%;
    height:20%;
    border:1px solid white;
    text-align: center;
    color: #e5e5e6;
    overflow: hidden;
    font-size: 1.7vw;
    line-height: 2em;
}

.div-card-section .card-section .card-body .card-letter .card-1-letter-G-rows,
.div-card-section .card-section .card-body .card-letter .card-2-letter-G-rows{
    width:100%;
    height:20%;
    border:1px solid white;
    text-align: center;
    color: #e5e5e6;
    overflow: hidden;
    font-size: 1.7vw;
    line-height: 2em;
}

.div-card-section .card-section .card-body .card-letter .card-1-letter-O-rows,
.div-card-section .card-section .card-body .card-letter .card-2-letter-O-rows{
    width:100%;
    height:20%;
    border:1px solid white;
    text-align: center;
    color: #e5e5e6;
    overflow: hidden;
    font-size: 1.7vw;
    line-height: 2em;
}

.board-section{
    position: absolute;
    top:0;
    right:0;
    width:70%;
    height:100%;    
    background:#2a2b2d;
    overflow: hidden;
}

.board-section .generate-section{
    position: absolute;
    top:0;
    left:5%;
    width:90%;
    height:14%;
    border-bottom:2px solid #737373;
    text-align: center;
    color:white;
}

.board-section .generate-section #prev-line{
    position: absolute;
    top:40%;
    left:39.7%;
    opacity: 0.3;
}

.board-section .generate-section #prev-rolled-text{
    position: absolute;
    top:60%;
    left:40%;
    font-size:1.5vw;
    opacity: 0.3;
}

.board-section .generate-section #previous-rolled{
    position: absolute;
    top:5%;
    left:46%;
    font-size:3vw; 
    color:#2DA8D8FF;
} 

.board-section .bingo-title{
    position: absolute;
    top:15%;
    width:100%;
    height:15%;
}

.board-section .bingo-title h1{
    position: absolute;
    top:0;
    width:15%;
    height:100%;
    border:5px solid #3e3f42;
    border-radius: 50%;
    text-align:center;
    font-size: 4.5vw;
    color: #e5e5e6;
}

.board-section .bingo-title #bingo-title-B{
    left:3%;
}

.board-section .bingo-title #bingo-title-I{
    left:23%;
}

.board-section .bingo-title #bingo-title-N{
    left:43%;
}

.board-section .bingo-title #bingo-title-G{
    left:63%;
}

.board-section .bingo-title #bingo-title-O{
    left:83%;
}

.board-section .bingo-body{
    position: absolute;
    top:30%;
    width:100%;
    height:70%;
}

.board-section .bingo-body .bingo-body-letter{
    width:20%;
    height:100%;
    float:left;
}

.board-section .bingo-body .bingo-body-letter .bingo-body-letter-B-boxes,
.board-section .bingo-body .bingo-body-letter .bingo-body-letter-I-boxes,
.board-section .bingo-body .bingo-body-letter .bingo-body-letter-N-boxes,
.board-section .bingo-body .bingo-body-letter .bingo-body-letter-G-boxes,
.board-section .bingo-body .bingo-body-letter .bingo-body-letter-O-boxes{
    width: 40%;
    height:10%;
    border:1px solid white;
    float:left;
    margin-left:7%;
    margin-top:5%;
    border-radius:20%;
    color: #e5e5e6;
    text-align: center;
    font-size: 2.3vw;
    font-weight: normal;
}

.board-section .bingo-body .bingo-body-letter #bingo-body-letter-B-boxes-15,
.board-section .bingo-body .bingo-body-letter #bingo-body-letter-I-boxes-30,
.board-section .bingo-body .bingo-body-letter #bingo-body-letter-N-boxes-45,
.board-section .bingo-body .bingo-body-letter #bingo-body-letter-G-boxes-60,
.board-section .bingo-body .bingo-body-letter #bingo-body-letter-O-boxes-75{
    margin-left:30%;
}

.buttons-section{
    position: absolute;
    top: 0;
    left:25%;
    width:5%;
    height: 100%;
}

.buttons-section #roll-btn{
    position:absolute;
    width:100%;
    height:33.3%;
    font-size: 2.5vh;
    line-height: 2.5em;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border:2px solid #a9dbef;
    background:#2a2b2d;
    color: #707075;
    font-weight: bold;
    transition: 0.5s;
    pointer-events: none;
}

.buttons-section #roll-btn:hover{
    border-color: #2DA8D8FF;
    color: #e5e5e6;
}

.buttons-section #get-card-btn{
    position:absolute;
    top:33.3%;
    width:100%;
    height:33.3%;
    font-size: 1vw;
    line-height: 4.5em;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border:2px solid #a9dbef;
    background:#2a2b2d;
    color: #707075;
    font-weight: bold;
    transition: 0.5s;
}

.buttons-section #get-card-btn:hover{
    border-color: #2DA8D8FF;
    color: #e5e5e6;
}

.buttons-section #play-btn{
    position:absolute;
    top:66.6%;
    width:100%;
    height:33.3%;
    font-size: 2.5vh;
    line-height: 2.5em;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border:2px solid #a9dbef;
    background:#2a2b2d;
    color: #707075;
    font-weight: bold;
    transition: 0.5s;
    pointer-events: none;
}

.buttons-section #play-btn:hover{
    border-color: #2DA8D8FF;
    color: #e5e5e6;
}
